HOSTNAME=pdmvpn-X
CONTACT=info@freifunk-potsdam.de
LAT=52.3482
LON=13.0705
IP_BASE=10.22.24X.

DIGGERIPS=1 2 3 4 5 6 7 8 9 255.255.255.128
DIGGERDHCP=10 126 30m

OPENVPNNET=128 255.255.255.128

S2S_IP=10.22.240.X 255.255.255.0
S2S_ID=1X
S2S_11=vpn-a.freifunk-potsdam.de
S2S_12=vpn-b.freifunk-potsdam.de
S2S_13=vpn-c.freifunk-potsdam.de

OLSR_DROPHNA=1
OLSR_MODE_s2s=ether
OLSR_LQMULT_s2s=1
OLSR_MODE_openvpn=mesh
OLSR_LQMULT_openvpn=0.4
OLSR_MODE_DIGGER=mesh
OLSR_LQMULT_DIGGER=0.4

#TDUPLINKS=a.tunnel.berlin.freifunk.net:8942 b.tunnel.berlin.freifunk.net:8942 c.tunnel.berlin.freifunk.net:8942 d.tunnel.berlin.freifunk.net:8942 e.tunnel.berlin.freifunk.net:8942 f.tunnel.berlin.freifunk.net:8942
